html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: linear-gradient(#56ab2f, #a8e063);
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

li {
	margin: 20px 0;
}

img.title {
	height: 60%;
	width: 60%;
	margin: 30px 0;
}

.topnav {
    background-color: #001800;
    background-color: rgb(0, 24, 0);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #4CAF50;
    background-color: rgb(76, 175, 80);
    color: white;
}

.list {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 18%;
}

